.git
__pycache__/
*.pyc
.DS_Store
.docker-local*/
models/**
!models/text_encoders/
!models/text_encoders/*.safetensors
!models/vae/
!models/vae/*.safetensors
!models/clip_vision/
!models/clip_vision/*.safetensors
!models/diffusion_models/
!models/diffusion_models/*.safetensors
!models/loras/
!models/loras/*.safetensors
